@page "/"

<h2>Welcome</h2>
<hr />
<div class="row">
	<div class="col-md-8">
		<h4>About</h4>
		<p>
			My name is Danny Forrest and I am a software engineer living in Santa Cruz, CA.  This site is meant to be
			both a display of some of my capabilities as well as a playground of sorts for my to further my programming skills.
			<br />
			You can contact me at: <a href="mailto:dan4ist@gmail.com">dan4ist@gmail.com</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<h4>Site Architecture</h4>
		<p>
			This site is built using Blazor Server Side on .NET Core 3.0 (Preview 8).  It utilizes the built-in individual 
			user account authentication model provided by Microsoft.  I have also incorporated Dapper for ORM in other areas 
			because Entity Framework is too painful to build real-world applications on entirely.
		</p>
	</div>
</div>
